{% if paste.is_private %}
<p class="lock"><strong>The paste <a href="{{paste.u}}">{{paste.slug|escape}}</a> is private</strong>. You need to know the secret key to view it.</p>
{% endif %}

{% if paste.is_waiting_for_approval %}
<p class="lock"><strong>The paste <a href="{{paste.u}}">{{paste.slug|escape}}</a> is awaiting approval.</strong> It may take seconds or weeks before it turns public, it all depends on <a href="{{u_user}}">{{user_name|escape}}</a>.</p>
{% endif %}

{% if paste.is_moderated %}
<p class="warning"><strong>The paste <a href="{{paste.u}}">{{paste.slug|escape}}</a> was moderated.</strong> Someone didn't read our guidelines... Wait, we don't have some !</p>
{% endif %}

{% if paste.is_code_viewable %}
<table class="snippet">
    <thead>
        <tr>
            <th>
                <a name="{{paste.slug}}"></a>
                {% if paste.language.name %}
                    <img src="{{paste.language.u_icon}}" alt="{{paste.language.name|escape}}" title="{{paste.language.name|escape}}" width="16" height="16" />
                {% endif %}
            </th>
            <th>
                    <strong><a href="{{ paste.u }}">{{paste.slug|escape}}</a></strong>
                <small>({{paste.loc}} LOC)</small>
                <ul>
                    <li>
                        <img src="{{"images/silk/page_white_edit.png"|url}}" alt="Fork paste" title="Fork paste" width="16" height="16" />
                        <small><a href="{{paste.u_fork}}"><strong>Fork</strong></a></small>
                    </li>
                    <li>
                        <img src="{{"images/silk/page_white_text.png"|url}}" alt="Export paste" title="Export paste" width="16" height="16" />
                        <small><a href="{{paste.u_raw_text}}">Raw text</a></small>
                    </li>
                </ul>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="lines"><pre>{{ paste.lines}}</pre></td>
            <td class="code"><pre>{{ paste.code }}</pre></td>
        </tr>
    </tbody>
</table>
{% endif %}
