{% spaceless %}
<ul class="invisible">
    {% for thread_paste in thread_pastes %}
        {% if thread_paste.open_list %}
            <li><ul class="invisible">
            {% endif %}
        <li>
            {% if thread_paste.u_language_image %}<img src="{{thread_paste.u_language_image}}" alt="{{thread_paste.language_name}}" title="{{ thread_paste.language_name }}" width="16" height="16" /> {% endif %}

            {% ifequal paste.slug thread_paste.slug %}<strong>{% endifequal %}
            <a href="{{ thread_paste.u }}">{{ thread_paste.title|escape }}</a>

            <small>
                {% ifnotequal thread_paste.slug paste.slug %}
                [ {% ifequal thread_paste.diff_size.0 0 %}
                    =B
                {%else%}
                    {{ thread_paste.diff_size.2 }}{{ thread_paste.diff_size.0 }} {{ thread_paste.diff_size.1 }}
                {% endifequal %}
                ]
                {% endifnotequal %}
                &mdash; {{thread_paste.user_name}}
                {% ifnotequal paste.slug thread_paste.slug %}| <a href="{{thread_paste.u_diff}}">Diff</a>{% endifnotequal %}
            </small>
            {% ifequal paste.slug thread_paste.slug %}</strong>{% endifequal %}
        </li>
        {% if thread_paste.close_list %}
            </ul></li>
        {% endif %}
    {% endfor %}

    {% for list in lists_unclosed %}
        </ul></li>
    {% endfor %}
</ul>
{% endspaceless %}
