.snippet
{
    border:1px solid #d0d0d0;
    width:100%;
    margin:0 0 10px 0;
    padding:0;
    box-shadow:0px 0px 4px 2px #DDDDDD;
}

.snippet th
{
    border:0;
    border-bottom:1px solid #cfcfcf;
    background:#EFEFEF;
    padding:8px;
    margin:0;
    box-shadow:0px 3px 4px -1px #DDDDDD;
}

.snippet th small
{
   font-weight:normal;
}

.snippet th:first-child
{
   text-align:center;
}

.snippet tfoot td
{
    border:0;
    border-top:1px solid #cfcfcf;
    background:#f0f0f0;
    padding:8px;
    margin:0;
}

.snippet th ul, .snippet tfoot ul
{
    float:right;
    display:inline;
    margin:0;
    padding:0;
}

.snippet th li, .snippet tfoot li
{
    display:inline;
    padding:0 0 0 10px;
}

.snippet tr
{
    padding:0;
    margin:0;
}

.snippet td
{
    padding:0;
    margin:0;
    border:1px solid #FF0000;
}

.snippet span.hl
{
    background-color:#CACACD;
}

td.lines
{
    border:0;
    padding:0 15px 0 15px;
    margin:0;
    text-align:right;
    font-family: "Trebuchet MS", verdana;
    font-size:1.2em;
    border-right:1px dashed #cfcfcf;
    background:#F5F5F5;
}

.lines a:link, .lines a:visited
{
    text-decoration:none;
    color:#555555;
}

.lines a:hover
{
    text-decoration:none;
    color:#5252D2;
}

td.code
{
    width:100%;
    border:0;
    padding:0 15px 0 10px;
    margin:0;
    font-family: "Trebuchet MS", verdana;
    font-size:1.2em;
}

.code .cmt
{
    color:#8a8a8a;
}

.code .doc
{
    color:#808080;
}

.code .str
{
    color:#008800;
}

.code .kw
{
    font-weight:bold;
}

.code .bui
{
    color:#2898BF;
}

.code .nb
{
    color:#006666;
}

.code .tag
{
    font-weight:bold;
}
