.snippet td.head
{
    border:0;
    border-bottom:1px solid #cfcfcf;
    background:#e0e0e0 url(/images/box_grey_bg.png) repeat-x;
    padding:8px;
    margin:0;
}

.snippet td.head ul
{
    float:right;
    display:inline;
    margin:0;
    padding:0;
}

.snippet td.head li
{
    display:inline;
    padding:0 0 0 10px;
}
.snippet
{
    border:1px solid #d0d0d0;
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    padding:0;
    margin:0;
}

.snippet tr
{
    padding:0;
    margin:0;
}

.snippet td
{
    padding:0;
    margin:0;
    border:1px solid #FF0000;
}


td.lines
{
    border:0;
    border-right:1px solid #cfcfcf;
    background-color:#eaeaea;
    padding:0 15px 0 15px;
    margin:0;
    text-align:right;
    font-family: "Trebuchet MS", verdana;
    font-size:1.2em;
}

.lines a:link, .lines a:visited
{
    text-decoration:none;
}

.lines a:hover
{
    text-decoration:underline;
}

td.code
{
    width:100%;
    border:0;
    padding:0 15px 0 10px;
    margin:0;
    font-family: "Trebuchet MS", verdana;
    font-size:1.2em;
}

.code .cmt
{
    color:#8a8a8a;
}

.code .doc
{
    color:#808080;
}

.code .str
{
    color:#008800;
}

.code .kw
{
    font-weight:bold;
}

.code .bui
{
    color:#2898BF;
}

.code .nb
{
    color:#006666;
}

.code .tag
{
    font-weight:bold;
}
