html,body
{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size:1em;
    margin:0;
    padding:0;
    color:#222222;
}

h1
{
    font:normal normal normal 36px Georgia;
    letter-spacing:-1px;
    color:#222222;
    margin:0 0 2px 0;
    padding:0;
}
h2
{
    font-size:1em;
    font-weight:normal;
    font-family:"Lucida Grande",Arial,Sans-serif;
    color:#222222;
    margin:30px 0 10px 0;
    padding:3px;
    border:0;
    border-bottom:1px dotted #d0d0d0;
}

h2 ul
{
    float:right;
    display:inline;
    margin:0;
    padding:0;
}

h2 li
{
    display:inline;
    padding:0 0 0 10px;
}

img
{
    border:0;
    vertical-align:middle;
}
form
{
    width:100%;
}

form ul
{
    margin:0;
    padding:0;
    width:100%;
    list-style:none;
}

form li
{
    width:100%;
    margin:30px 0 30px 0;
    padding:0;
}

textarea, input[type="text"]
{
    border:1px solid #bbbbbb;
    background-color:#eeeeee;
    color:#000000;
    padding:2px;
    margin:0;
    font-family: "Courrier New", sans-serif;
}

textarea
{
    width:100%;
}

input[type="text"]
{
    width:100%;
}

input[type="submit"]
{
    font-weight:bold;
    border-top:1px solid #d9d9d9;
    border-left:1px solid #d9d9d9;
    border-bottom:1px solid #b0b0b0;
    border-right:1px solid #b0b0b0;
    background:#dddddd url(/images/button_bg.png) repeat-x;
    color:#222222;
    padding:3px 6px 3px 6px;
}

input[type="text"]:focus, textarea:focus
{
    border:1px solid #c0c0ff;

}

label
{
    font-weight:bold;
    border-bottom:1px solid #dcdcdc;
    display:block;
    padding:0 0 5px 0;
    margin:0 0 8px 0;
}

label small
{
    font-weight:normal;
}
a:link, a:visited
{
    color:#5252D2;
    text-decoration:underline;
}

a:hover
{
    color:#5252D2;
    text-decoration:none;
}

table
{
    width:100%;
    font-size:1em;
    border-spacing:0px;
    border-collapse:separate;
    border:1px solid #d4d4d4;
}

th
{
    font-weight:bold;
    text-align:left;
    background:#e0e0e0 url(/images/box_grey_bg.png) repeat-x;
    border-bottom:1px solid #d4d4d4;
    margin:0 10px 0 10px;
    padding:7px 5px 7px 5px;
    font-size:0.9em;
}

td
{
    vertical-align:top;
    border-bottom:1px dotted #d9d9d9;
    border-left:1px dotted #d9d9d9;
    padding:4px;
}

td.left
{
    text-align:right;
}

tr > td:first-child
{
    border-left:0;
}

tbody > tr:last-child > td
{
    border-bottom:0;
}

tfoot
{
    text-align:right;
    background-color:#f1f1f1;
}

tfoot td
{
    border:0;
}

.paging td a:link, .paging td a:visited
{
    border:1px solid #5252D2;
    background-color:#ffffff;
    text-decoration:none;
    padding:0 5px 0 5px;
}

.paging td a:hover
{
    border:1px solid #5252D2;
    background-color:#ffffff;
    text-decoration:none;
}

table.invisible
{
    width:100%;
    font-size:1em;
    border-spacing:0;
    border:0;
}

table.invisible td
{
    border:0;
}

ul
{
    list-style-position:inside;
    list-style-type:square;
    padding:0;
}

ul ul li
{
    padding:1px 1px 1px 10px;
    margin:1px 1px 1px 5px;
}

ul ul
{
    border-left:2px solid #D0D0D0;
    margin:0 0 0 3px;
}

ul.invisible
{
    list-style-type:none;
}
#footers
{
    margin:40px 20px 0 20px;
    padding:30px 0 10px 0;
    border-top:2px solid #d0d0d0;
    font-size:0.9em;
    color:#444444;
    font-size:0.8em;
}

#footers ul
{
    list-style-type:none;
    margin:2px 0 2px 0;
    padding:0;
}

#footers li
{
    margin:0;
    padding:3px 0 3px 0;
}

#footers p
{
    margin: 2px 0 2px 0;
}

#footers a:link, #footers a:visited
{
    color:#444444;
}

#footers a:visited
{
    color:#444444;
}

#footers table
{
    width:auto;
}
#footers td
{
    width:200px;
}

#h1-headers
{
    font-size:0.9em;
    color:#444444;
}

#h1-headers ul
{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
#h1-headers li
{
    margin:0 10px 0 0;
    padding:0;
    display:inline;
}


#h1-hr
{
    margin:0 0 20px 0;
}

#header-hr
{
    border-top:1px solid #f0f0f0;
    background-color:#dfdfdf;
    border-bottom:1px solid #d5d5d5;
    padding:4px 0 0 0;
    margin:10px 0 10px 0;
}

#user_bar
{
    font-size:0.8em;
    margin:0 0 10px 0;
    border-bottom:1px solid #3c488f;
    text-align:right;
    padding:3px 20px 3px 20px;
    background:url(/images/userbar_bg.png) repeat-x;
    color:#ffffff;
}

#user_bar a:link, #user_bar a:visited
{
    color:#ffffff;
    text-decoration:underline;
}

#user_bar a:hover
{
    color:#ffffff;
    text-decoration:none;
}

#user_bar img
{
    border:1px solid #394485;
    background-color:#aab1d7;
    padding:1px;
}
#content
{
    font-size:0.8em;
    margin:0 20px 0 20px;
}

#browser-warn
{
    padding:5px 20px 5px 20px;
    border-bottom:1px solid #333333;
    margin: 0;
    background-color:#CC0000;
    color:#ffffff;
    font-family:Verdana;
    font-weight:bold;
    font-size:0.9em;
}

#browser-warn a:link, #browser-warn a:visited
{
    color:#ffffff;
    text-decoration:underline;
}

#browser-warn a:hover
{
    color:#ffffff;
    text-decoration:none;
}

#logo
{
    padding:15px 20px 15px 20px;
    margin: 0 0 15px 0;
    border-bottom:3px solid #6B75B4;
    background:url(/images/user_bg.png) repeat-x;
    color:#ffffff;
    font-size:0.80em;
    font-family:Tahoma, Verdana;
}

#logo small
{
    font-size:0.9em;
}

#logo a:link, #logo a:visited
{
    color:#ffffff;
    text-decoration:underline;
}

#logo a:hover
{
    color:#ffffff;
    text-decoration:none;
}

ul#path
{
    list-style-type:none;
    color:#555555;
    font-size:0.85em;
    font-family:Tahoma, Arial;
    margin:0 0 20px 0;
}

ul#path li
{
    display:inline;
    margin: 0 0 0 0;
}

ul#path a:link, ul#path a:visited
{
    color:#555555;
    text-decoration:underline;
}

ul#path a:hover
{
    text-decoration:none;
}
#user
{
    margin:0 0 0 20px;
    float:right;
}

#user a:link, #user a:visited
{
    margin: 0 2px 0 2px;
    color:#5252D2;
    text-decoration:underline;
}

#user a:hover
{
    margin: 0 2px 0 2px;
    color:#5252D2;
    text-decoration:none;
}

div#logs
{
    margin: 0 20px 20px 20px;
    list-style-type:none;
    font-size:0.9em;
    border-top:1px solid #d0d0d0;
    padding:10px 0 0 0;
}

#logs ul
{
    margin:0;
    padding:0;
}

#logs li
{
    margin:0;
    padding:0;
}

img.user
{
    border:1px solid #cfcfcf;
    padding:1px;
    background-color:#ffffff;
}

form .explanation
{
    font-size:0.8em;
    color:#333333;
    margin:0;
    padding:1px;
}

form .input
{
    margin:5px 0 5px 0;
    padding:1px;
    border:1px solid #dcdcdc;
}

form table
{
    margin:0;
    padding:0;
    border-spacing:5px;
}

small
{
    font-size:1em;
    color:#888888;
}
small a:link, small a:visited
{
    color:#777777;
    text-decoration:underline;
}

small a:hover
{
    color:#777777;
    text-decoration:none;
}

.error
{
    border:1px solid #d0d0d0;
    background-color:#f0f0f0;
    background:#f0f0f0 url(/images/silk/exclamation.png) 5px 10px no-repeat;
    padding:10px 10px 10px 30px;
}

.success
{
    border:1px solid #d0d0d0;
    background-color:#f0f0f0;
    background:#f0f0f0 url(/images/silk/accept.png) 5px 10px no-repeat;
    padding:10px 10px 10px 30px;
}
.info
{
    border:1px solid #d0d0d0;
    background-color:#f0f0f0;
    background:#f0f0f0 url(/images/silk/information.png) 5px 10px no-repeat;
    padding:10px 10px 10px 30px;
}
.lock
{
    border:1px solid #d0d0d0;
    background-color:#f0f0f0;
    background:#f0f0f0 url(/images/silk/lock.png) 5px 10px no-repeat;
    padding:10px 10px 10px 30px;
}
.warning
{
    border:1px solid #b39d52;
    background:#f7f7ea url(/images/silk/error.png) 5px 10px no-repeat;
    padding:10px 10px 10px 25px;
    margin:2px 0 2px 0;
}

ul.paging
{
    width:100%;
    text-align:right;
    margin-top:20px;
    display:inline;
    list-style-type:none;
    font-size:0.9em;
}

.paging li
{
    display:inline;
    margin: 0 5px 0 5px;
}

.paging span
{
    font-weight:bold;
    text-decoration:none;
    margin:0;
}

.navigation ul
{
    list-style-type:none;
    margin:0;
    padding:0;
}

.navigation li
{

    padding:0;
    margin:4px 0 4px 5px;
    font-size:0.9em;
}
