{% extends "../../index.html" %}

{%block h1 %}Paste code{% endblock %}
{%block page-content %}

{% if u_parent %}
<p class="info">You are forking another paste: <a href="{{ u_parent }}">{{ u_parent }}</a>.</p>
{% endif %}

<form method="post" action="/">
    {% if pasty_error %}
        <p class="error">{{ pasty_error }}</p>
    {% endif %}
    <table class="invisible">
        <tr>
            <td>
                <ul>
                    <li>
                        <label for="pasty_code">Your code</label>
                        {% if pasty_code_error %}
                        <p class="warning">{{ pasty_code_error }}</p>
                        {% endif %}
                        <div class="input">
                            <div><textarea name="pasty_code" id="pasty_code" rows="20" cols="50">{{ pasty_code }}</textarea></div>
                        </div>
                        <p class="info">We will try to guess which language you're using, if it's <a href="languages/auto-detected">supported</a> we will highlight your code.</p>
                        <p style="text-align:right;"><input type="submit" value="Paste!" /></p>
                    </li>
                </ul>
            </td>
            <td style="width:300px;padding:0 0 0 30px;">
                <ul>
                    <li>
                        <label for="pasty_title">Title <small>(optional)</small></label>
                        <p class="input"><input type="text" name="pasty_title" id="pasty_title" value="{{ pasty_title }}"/></p>
                        <small>Ex: GAE Blobstore test</small>
                    </li>
                    <li>
                        <label for="pasty_tags">Tags <small>(optional)</small></label>
                        <p class="input">
                            <input type="text" name="pasty_tags" id="pasty_tags" value="{{ pasty_tags }}"/>
                        </p>
                        <small>A coma separated list of tags.</small><br />
                        <small>Ex: python, googleappengine</small>
                    </li>
                    <li>
                        <label for="pasty_user_name">User name <small>(optional)</small></label>
                        <p class="input">
                            <input type="text" name="pasty_user_name" id="pasty_user_name" value="{{ pasty_user_name }}"/>
                        </p>
                        <small>Ex: John_Connor</small>
                    </li>
                </ul>
            </td>
        </tr>
    </table>

    {% if pasty_token %}
    <p><input type="hidden" name="pasty_token" value="{{ pasty_token }}" /></p>
    {% endif %}

    {% if pasty_parent_slug %}
    <p><input type="hidden" name="pasty_parent_slug" value="{{ pasty_parent_slug }}" /></p>
    {% endif %}
</form>

{% endblock %}
