{% extends "../../index.html" %}

{%block page-title %}Paste [{{ pasty_slug }}] added{% endblock %}
{%block h1 %}Paste added{% endblock %}
{%block page-content %}

<p class="success"><strong>Your paste has been added</strong> and is now visible by anyone.</p>

<ul>
    <li>Share your paste : <a href="{{ u_pasty }}"><strong>{{ u_pasty_encoded }}</strong></a></li>
</ul>
<ul>
    <li><a href="{{ u_fork }}">Fork your paste</a></li>
    <li><a href="{{ u_add }}">Paste some other code</a></li>
</ul>

{% endblock %}
